/* vim: set ai et sw=4 sts=4: */

html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 5px;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
div {
    margin: 0px;
    padding: 0px;
}
input, select {
    font-family: inherit;
}

.app-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;
    gap: 1rem;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.suit-black {
    fill: black;
    color: black;
}
.suit-red {
    fill: crimson;
    color: crimson;
}

.system-panel {
    text-align: center;
    flex-grow: 0;
}
.system-label {
    font-size: 20pt;
}
.system {
    font-size: 20pt;
}

.ui-panel {
    text-align: center;
    flex-grow: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.table-panel {
    display: inline-block;
    height: 100%;
    flex-grow: 0;
}
.diagram {
    width: 100%;
    height: auto;
}
.grid {
    stroke: black;
    stroke-width: 0.5;
}
.grid-border {
    stroke: black;
    stroke-width: 1;
    fill: none;
}
.vulnerable {
    fill: lemonchiffon;
}
.nonvul {
    /*
     * svg apparently does not care about the order of classes
     * , so if the same css (e.g., "fill") is different in two
     * listed classes (e.g., "ew-bg vulnerable"), there is no
     * "correct" one to use.  If order is enforced, we can
     * put the "fill: white" in "ns-bg" and "ew-bg" and not bother with
     * using "nonvul"
     */
    fill: white;
}
.ns-bg {
}
.ew-bg {
}
.seat-name {
    /* font-size in svg seems a bit different than outside, so
     * these sizes were determined empirically */
    font-size: 6pt;
}
.dealer {
    fill: lightgray;
    stroke: lightgray;
    stroke-width: 10;
}
.dealing {
    fill: darkgreen;
    stroke: darkgreen;
    stroke-width: 15;
}
.contract {
    font-size: 12pt;
}

.input-panel {
    display: inline-block;
    margin-left: 0.5rem;
    font-size:20pt;
    flex-grow: 0;
}
.ui-table {
}
.ui-section {
    padding-top: 1vh;
    text-align: center;
}
.input-deal {
    width: 10rem;
    font-size:30pt;
    /* Font needs to be big enough to avoid autozoom on iPhone */
}
.input-action {
    font-size:20pt;
}

.match-panel {
    text-align: center;
    flex-grow: 0;
}
.match-label {
    font-size: 20pt;
}
.match {
    font-size: 20pt;
}

.score-panel {
    flex-grow: 1;
}
.scorepad {
    width: 100%;
    height: 100%;   /* border spacing and th/td padding must be 0 */
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    font-size:24pt;
}
.scorepad th {
    padding: 0;
    width: 50%;
    border: 1px solid black;
}
.scorepad td {
    padding: 0;
}
.score-header {
}
.score-header th, .match-row td, .total-row td {
    height: 28pt;
}
.above-line-row {
    height: 40%;
}
.below-line-row {
    height: 35%;
}
.below-line-row-duplicate {
    height: 75%;
}
.above-line, .below-line {
    width: 50%;
    border: 1px solid black;
}
.above-line {
    vertical-align: bottom;
}
.below-line {
    vertical-align: top;
}
.score-above, .score-below {
    border-collapse: collapse;
    width: 100%;
}
.score-game {
    border-bottom: 1px solid black;
}
.score-contract {
    text-align: left;
}
.score-value {
    text-align: right;
}
.score-match {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 0;
    border-top: 2px double black;
}
.total-row {
    background-color: lightgray;
}
.score-total {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 6px double black;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.4);
}
.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.dialog-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid red;
    width: 80%;
    font-size: 20pt;
}
.dialog-buttons {
    width: 100%;
    text-align: right;
}
.dialog-button {
    font-size: 20pt;
}
.edit-name-input {
    width: 8rem;
    font-size:20pt;
}
.stats-data {
    margin: 1rem;
}
.stats-table {
    font-size:24pt;
    border-spacing: 0.2rem;
}
.stats-header {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.stats-label {
    text-align: right;
    padding-left: 1rem;
    padding-right: 1rem;
}
.stats-value {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
